/**
 *
 * @author      Jeison Sánchez <jeison@nigma.co>
 * @website     https://www.nigma.co
 *
 */
 
body {
	display: grid;
	place-items: center;
	height: 100vh;
	background: linear-gradient(90deg,rgba(87, 21, 21, 1) 0%, rgba(13, 12, 12, 1) 8%, rgba(13, 12, 12, 1) 92%, rgba(87, 21, 21, 1) 100%);
	font-family: Arial, Helvetica, sans-serif;
	color: #fff;
}

.login {
	display: flex;
	justify-content	: center;
	position: relative;
	width: 300px;
	height: 300px;
	padding: 20px;
	border-radius: 21px;
	background-image: url("../images/LOGO-removebg-preview.png");
	background-repeat: no-repeat;
	background-size: 450px 450px;
	background-position: center;
	background-color: rgba(112, 22, 22, 0.7);
	/* border: 8px double #c40; */
}

.link__login{
	text-decoration: none;
	color: #e66;
}

.login:before,
.login__circuit-mask {
	content: '';
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: block;
	width: 682px;
	height: 514px;
}

.login:before {
	background: url(../images/bg-circuito.svg);
}

.login__circuit-mask {
	display: grid;
	place-items: center;
	-webkit-mask: url(../images/bg-circuito.svg);
	mask: url(../images/bg-circuito.svg);
}

.login__circuit-mask:before {
	content: '';
	position: absolute;
	width: 102px;
	height: 77px;
	border-radius: 50%;
	border: 3px solid #00f0ff;
	animation: onda 8s infinite;
	animation-delay: 2s;
}

.login__heading {
	text-align: center;
}

@keyframes onda {
	0% {
		transform: scale(1);
	}
	50% {
		transform: scale(7.2);
	}
	100% {
		transform: scale(7.2);
	}
}